{
    "presets": [
        "env"
    ],
    "plugins": [ 
      // "transform-object-rest-spread" 
    "@babel/plugin-proposal-object-rest-spread"
    ],
    "env": {
        "test": { "plugins": ["transform-es2015-modules-commonjs"] }
    }
}
