
h2 {
  margin: 5px;
}

body {
  scroll: none;
}

#header_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  text-align: center;
  border: solid 0px green;
  vertical-align: middle;
}

#app_icon_div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  text-align: center;
  border: solid 0px green;
  vertical-align: middle;
}

#center_div {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: auto;
  top: 70px;
  bottom: 60px;
  border: solid 0px blue;
}

#footer_div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  border: solid 1px green;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

#scoreContentsPre,
#scoreContentsPre code {
  display: none;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 0px;
}
